---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ClockIcon from "../../components/home/ClockIcon.astro";
import { formatDuration } from "../../lib/duration";

export async function getStaticPaths() {
  const recipe = await getCollection("recipes");
  return recipe.map((recipe) => ({
    params: { id: recipe.id },
    props: { recipe },
  }));
}

const { recipe } = Astro.props;
const recipeData = recipe.data;
---

<Layout title={recipeData.title}>
  <main>
    <article>
      <header>
        <div class="hero">
          <span class="category" data-category={recipeData.category}>
            {recipeData.category}
          </span>

          <h1>{recipeData.title}</h1>

          {
            recipeData.tags && recipeData.tags.length > 0 && (
              <ul aria-label="Etiquetes">
                {recipeData.tags.map((tag) => (
                  <li>{tag}</li>
                ))}
              </ul>
            )
          }
          <dl>
            <dt class="visually-hidden">Dificultat</dt>
            <dd data-difficulty={recipeData.difficulty} class="difficulty">
              {recipeData.difficulty}
            </dd>
            <dt class="visually-hidden">Durada</dt>
            <dd>
              <time datetime={recipeData.duration}>
                <ClockIcon aria-hidden="true" focusable="false" />
                {formatDuration(recipeData.duration)}
              </time>
            </dd>
          </dl>
        </div>

        <img src={recipeData.heroImage?.src} alt={recipeData.title} />
      </header>
      <hr />
      <div class="recipe">
        <section class="ingredients">
          <h2>Ingredients</h2>
          <ul>
            {
              recipeData.ingredients?.map((ingredient) => {
                if (typeof ingredient === "string") {
                  return <li>{ingredient}</li>;
                } else {
                  return (
                    <li>
                      <span class="quantity">{ingredient.quantity}</span>
                      <span class="ingredient-name">
                        {ingredient.ingredient}
                        {ingredient.comments && (
                          <span class="comment">{`(${ingredient.comments})`}</span>
                        )}
                      </span>
                    </li>
                  );
                }
              })
            }
          </ul>
        </section>
        <section class="steps">
          <h2>Instruccions</h2>
          <ol>
            {
              recipeData.steps?.map((step) => (
                <li>
                  <p>{step}</p>
                </li>
              ))
            }
          </ol>
        </section>
      </div>
    </article>
  </main>
</Layout>

<style>
  article {
    padding: 24px;

    @media (width <= 850px) {
      padding: 16px;
    }
  }

  h1 {
    font-size: xxx-large;

    @media (width <= 850px) {
      order: 1;
      width: 100%;
      text-align: center;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 24px;

    @media (width <= 850px) {
      flex-direction: column;
      margin-bottom: 20px;
      gap: 12px;
    }
  }

  dl {
    display: flex;
    flex-direction: row;
    gap: 32px;

    @media (width <= 850px) {
      order: 3;
      margin: 0;
      display: flex;
      gap: 0.75rem;
    }
  }

  dd {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  img {
    border-radius: 32px;
    max-width: 760px;

    @media (width <= 850px) {
      order: 1;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 -24px;

    @media (width <= 850px) {
      border: none;
    }
  }

  h2 {
    margin: 0px 0 16px 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  p {
    max-width: 75ch;
    line-height: 2;
    white-space: pre-line;
  }

  ol {
    padding-left: 18px;
  }

  ol > li {
    margin-bottom: 12px;
  }

  .ingredients li {
    display: grid;
    column-gap: 12px;
    grid-template-columns: 2fr 5fr;
  }

  .ingredients h2 {
    @media (width <= 850px) {
      padding-left: 8px;
    }
  }

  .quantity {
    text-align: end;
    font-variant-numeric: tabular-nums;
  }

  .comment {
    font-size: 14px;
    color: rgb(115, 114, 108);
  }

  .category {
    width: fit-content;
    padding: 8px 16px;
    border-radius: 16px;
    color: #444;
    font-size: small;

    @media (width <= 850px) {
      order: 2;
    }
  }

  .difficulty {
    width: fit-content;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: small;
    color: #444;
  }

  .hero {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;

    @media (width <= 850px) {
      flex-direction: row;
      order: 2;
      flex-wrap: wrap;
      align-items: center;
      gap: 12px;
    }
  }

  .recipe {
    display: flex;
    flex-direction: row;
    margin-top: 60px;

    @media (width <= 850px) {
      margin-top: 12px;
      flex-direction: column;
    }
  }

  .recipe section:first-child {
    flex: 1 1 0;
    margin-right: 30px;
    @media (width <= 850px) {
      margin-right: 0px;
      margin-bottom: 24px;
    }
  }

  .recipe section:last-child {
    flex: 2 1 0;
  }

  .ingredients {
    padding: 32px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: rgba(35, 40, 42, 0.08) 0px 1px 3px 1px;

    @media (width <= 850px) {
      padding: 12px;
    }
  }

  .steps {
    padding: 0 32px;

    @media (width <= 850px) {
      padding: 0;
    }
  }
</style>
