---
import type { CollectionEntry } from "astro:content";
import ClockIcon from "./ClockIcon.astro";
import { formatDuration } from "../../lib/duration";

interface Props {
  recipe: CollectionEntry<"recipes">;
}

const { data: recipeData } = Astro.props.recipe;
---

<article>
  <figure>
    <img src={recipeData.thumbnail.src} alt={recipeData.title} />
    <figcaption class="visually-hidden">{recipeData.title}</figcaption>
  </figure>

  <h2>
    <a href={`/a-foc-lent/recipes/${Astro.props.recipe.id}`}>
      {recipeData.title}
    </a>
  </h2>
  <hr />
  <footer>
    <span class="category" data-category={recipeData.category}>
      {recipeData.category}
    </span>
    <span data-difficulty={recipeData.difficulty} class="difficulty">
      {recipeData.difficulty}
    </span>
    <time datetime={recipeData.duration}>
      <ClockIcon aria-hidden="true" focusable="false" />
      {formatDuration(recipeData.duration)}
    </time>
  </footer>
</article>

<script>
  let selectedCategory: string = "";
  let searchInput: string = "";
  const recipeCards = document.querySelectorAll("article");
  document.addEventListener("filter-changed", (e) => {
    selectedCategory = (e as CustomEvent<{ filter: string }>).detail.filter;

    recipeCards.forEach((recipeCard) => applyFilters(recipeCard));
  });

  document.addEventListener("search-input-changed", (e) => {
    searchInput = (
      e as CustomEvent<{ search: string }>
    ).detail.search.toLowerCase();

    recipeCards.forEach((recipeCard) => applyFilters(recipeCard));
  });

  function applyFilters(recipeCard: HTMLElement) {
    const liElement = recipeCard.parentElement!;
    const catageorySpan = recipeCard!.querySelector("[data-category]") as HTMLElement;

    const title = Array.from(recipeCard.children)
      .filter((child) => child.tagName == "H2")[0]
      .textContent.toLowerCase();

    const textMatches = title.includes(searchInput) || searchInput == "";
    const categoryMatches =
      selectedCategory === "" ||
      catageorySpan.dataset.category === selectedCategory;

    liElement.style.display = textMatches && categoryMatches ? "block" : "none";
  }
</script>

<style>
  article {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;

    @media (width <= 850px) {
      display: grid;
      grid-template-columns: 90px 1fr;
      column-gap: 12px;
      padding: 12px 18px;
    }
  }

  img {
    height: 160px;

    @media (width <= 850px) {
      height: 80px;
    }
  }

  h2 {
    margin-bottom: 18px;

    @media (width <= 850px) {
      grid-column: 2;
      grid-row: 1;
      margin-bottom: 0;
      font-size: 18px;
      align-self: center;
    }
  }

  h2 a::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  hr {
    border: 0;
    border-top: 1px solid #ccc;

    @media (width <= 850px) {
      grid-column: 2;
      grid-row: 2;
      align-self: center;
    }
  }

  footer {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

    @media (width <= 850px) {
      grid-column: 2;
      grid-row: 3;
      margin-top: 0;
      gap: 8px;
      justify-content: flex-start;
      align-self: center;
      align-items: center;
    }
  }

  time {
    display: flex;
    gap: 4px;
    align-items: center;

    @media (width <= 850px) {
      font-size: 14px;
    }
  }

  figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8px;

    @media (width <= 850px) {
      grid-column: 1;
      grid-row: 1 / 4;
      margin-bottom: 0;
    }
  }

  .category {
    position: absolute;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 16px;
    color: #444;
    font-size: small;
    top: 24px;
    right: 24px;

    @media (width <= 850px) {
      position: static;
      padding: 8px 12px;
    }
  }

  .difficulty {
    width: fit-content;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: small;
    color: #444;
  }
</style>
